// @import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1a1e23;
}

.todo-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 80px 80px 80px;
  background: #162740;
  color: #fff;

  h1 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
  }
  .savegroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .list {
    margin: 0 auto;
    font-size: 18px;
    font-family: Lato, sans-serif;
    color: #f1faee;
    cursor: pointer;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .checkbox {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border: 2px solid #f1faee;
      transition: 0.2s;
    }
    .delete {
      margin-left: 10px;

      font-size: 12px;
      text-align: center;
    }
  }
}
